body{
  margin: 0px;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContainer > main{
  height: 100%;
}

.mainContainer > footer{
  background-color: red;
  padding: 10px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgb(237, 237, 238);
  border-bottom: 1px solid black;
  box-shadow: 1px 1px gray;
}

.navbar > li{
  display: flex;
  align-items: center;
}

.logo{
  height: 70px;
}


.button{
  font-style: italic;
  font-weight: bolder;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 1px 1px black;
}

.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.mainButton{
  background-color: red;
  color: white;
  
}

.mainButton:hover{
  box-shadow: 3px 3px black;
}

.secundaryButton{
  background-color: slategray;
  color: white;
}

.secundaryButton:hover{
  box-shadow: 3px 3px black;
}

.buscar{
  background-color: white;
  border: 1px solid black;
  padding: 4px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.buscar:focus-within{
  border: 1px solid red;
}

.buscar > input{
  outline: none;
  border: 0px;
}

.iconoBusqueda:hover{
  color: red;

}

.contenedorImagen{
  height: 350px;
  width: 240px;
  display: flex;

}

.vehicleCardContainer{
  display: flex;
}

.vehicleCard{
  margin: 10px;
  background-color: rgb(78, 78, 90);
  box-shadow: 5px 10px 5px gray;
  border-radius: 10px;
}

.vehicleName{
  color: white;
  margin: 10px;
  font-weight: bold;
  font-size: x-large;
  font-style:oblique;
}


.contenedorImagen:hover{
  cursor: pointer;
  transform:scale(1.02);
}


.contenedorImagen > img{
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 5px;
}

.tituloCentrado{
  color: gray;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}

.cardIcon{
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.iconoCorazon{
  color: red;
}

.iconoCorazon:hover{
  cursor: pointer;
  transform: scale(1.30);
}

.iconoCart{
  color: white;
}

.iconoCart:hover{
  cursor: pointer;
  transform: scale(1.30);
}

.iconoComment{
  color: aqua;
}

.iconoComment:hover{
  cursor: pointer;
  transform: scale(1.30);
}