body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgb(237, 237, 238);
    border-bottom: 1px solid black;
    box-shadow: 1px 1px gray;
}

.navbar > li{
    display: flex;
    align-items: center;
}

.logo{
    height: 70px;
}


.button{
    font-style: italic;
    font-weight: bolder;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 1px 1px black;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton{
    background-color: red;
    color: white;
    
}

.mainButton:hover{
    box-shadow: 3px 3px black;
}

.secundaryButton{
    background-color: slategray;
    color: white;
}

.secundaryButton:hover{
    box-shadow: 3px 3px black;
}

.buscar{
    background-color: white;
    border: 1px solid black;
    padding: 4px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within{
    border: 1px solid red;
}

.buscar > input{
    outline: none;
    border: 0px;
}

.iconoBusqueda:hover{
    color: red;

}